@tailwind base;
@tailwind components;
@tailwind utilities;

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 92vh;
  .details__container {
    margin-top: 2rem;
    width: 90%;
    min-height: 75vh;
    height: auto;
    display: flex;
    flex-direction: column;
    .details__button-bar {
      width: 100%;
      .details__back-button {
        border: 1px solid rgb(241, 241, 241);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 5rem;
        @apply shadow-md text-bg-dark dark:bg-el-dark dark:text-bg-light dark:border-none;
        &:hover {
          color: white;
          background-color: $dark-blue;
        }
      }
    }
    .details__info {
      margin-top: 4rem;
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet {
        flex-direction: column;
        height: auto;
      }
      .details__flag {
        position: relative;
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        @include tablet {
          width: 100%;
          height: 25rem;
        }
        @include mobile {
          width: 100%;
          height: 14rem;
        }
      }
      .details__country-info {
        width: 50%;
        height: 100%;
        @include tablet {
          width: 100%;
        }
        @include mobile {
          margin-top: -2rem;
        }
        .details__country-info-container {
          height: 100%;
          margin-left: 5rem;
          @include tablet {
            margin-left: 0;
            margin-top: 5rem;
          }
          .details__title {
            font-size: 2.5rem;
            font-weight: 800;
          }
          .details__general {
            margin-top: 2rem;
            display: flex;
            justify-content: space-around;
            height: 60%;
            @include mobile {
              flex-direction: column;
            }
            .details__general1 {
              height: 100%;
              width: 50%;
              display: flex;
              flex-direction: column;
              * {
                margin-bottom: 1rem;
              }
              @include mobile {
                width: 100%;
              }
            }
            .details__general2 {
              height: 100%;
              width: 50%;
              display: flex;
              flex-direction: column;
              * {
                margin-bottom: 1rem;
              }
              @include mobile {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
