@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-size: 14px;
  .home__container {
    height: auto;
    width: 90%;
    @include mobile {
      width: 100%;
    }
  }
  .home__cards {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include mobile {
      justify-content: center;
    }
  }
}
