@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: white;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .navbar-containers {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .navbar__first-container {
      width: 30%;
      font-weight: 800;
      display: flex;
      padding: 0;
      @include tablet {
        width: 100%;
      }
      @include mobile {
        margin-left: 0rem;
        flex-direction: column;
        justify-content: center !important;
      }
      .navbar__brand {
        cursor: pointer;
        @apply dark:text-bg-light;
        @include mobile {
          font-size: 0.9rem;
        }
      }
    }
    .navbar__second-container {
      display: flex !important;
      justify-content: flex-end !important;
      align-items: center;
      padding: 0;
      @include mobile {
        margin: 0;
      }
      .navbar__darkmode {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 8.4rem;
        font-weight: 800;
        @apply dark:text-bg-light;
        @include mobile {
          font-size: 0.8rem;
        }
      }
    }
  }
}
