@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background-color: white;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light;
  padding: 1rem;
  &__first-container {
    width: 30%;
    margin-left: 5rem;
    font-weight: 800;
    @include tablet {
      width: 100%;
    }
    .navbar__brand {
      cursor: pointer;
      @apply dark:text-bg-light;
    }
  }
  &__second-container {
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 5rem;
    @include tablet {
      display: none !important;
    }
    .navbar__darkmode {
      font-weight: 800;
      @apply dark:text-bg-light;
    }
  }
}
