@tailwind base;
@tailwind components;
@tailwind utilities;

.search-bar {
  box-shadow: none !important;
  margin-top: 3rem;
  background-color: transparent !important;

  &__first-container {
    width: 40%;
    display: flex;
    padding: 0;
    margin-left: -3px;
    @include tablet {
      justify-content: flex-start !important;
      margin: 0;
    }
    @include mobile {
      width: 100%;
      justify-content: center !important;
    }
    .search-bar__form {
      margin-left: -12px;
      padding: 0;
      width: 25rem;
      height: 3rem;
      @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light bg-white dark:border-none;
      @include mobile {
        width: 18rem;
      }
      .search-bar__icon {
        background-color: white;
        border-right: none;
        font-size: 1.3rem;
        padding-right: 0;
        @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
      }
      .search-bar__input {
        border-left: none;
        font-size: 14px;
        font-weight: 800;
        height: 3rem;
        @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
      }
    }
  }
  &__second-container {
    display: flex;
    justify-content: flex-end !important;
    padding: 0;
    @include tablet {
      width: 10rem;
      justify-content: flex-start;
      margin-right: 0;
    }
    @include mobile {
      justify-content: center !important;
      margin-top: 1rem;
      width: 100%;
    }
    .search-bar__filter {
      margin-right: -12px;
      height: 3rem;
      display: flex;
      align-items: center;
      @apply shadow-sm dark:shadow-md dark:bg-el-dark;
      @include mobile {
        margin-right: 0px;
        margin-top: 1rem;
      }
    }
  }
}
