@tailwind base;
@tailwind components;
@tailwind utilities;

.suggestion-list {
  width: 100%;
  height: auto;
  background-color: rgb(245, 245, 245);
  @apply dark:bg-bg-dark dark:text-bg-light;
  color: black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  .suggestion-list__item {
    cursor: pointer;
    margin: 2px 0;
    height: 2rem;
    display: flex;
    align-items: center;
    font-size: 1rem;

    @apply dark:bg-bg-dark dark:text-bg-light;

    padding: 1rem;
    &:hover {
      border-left: 2px solid blue;
    }
  }
}
