@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap");
body {
  font-family: 'Nunito';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.home .home__container {
  height: auto;
  width: 90%;
}

@media (max-width: 500px) {
  .home .home__container {
    width: 100%;
  }
}

.home .home__cards {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 500px) {
  .home .home__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  background-color: white;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.navbar .navbar-containers {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-containers .navbar__first-container {
  width: 30%;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .navbar .navbar-containers .navbar__first-container {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .navbar .navbar-containers .navbar__first-container {
    margin-left: 0rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.navbar .navbar-containers .navbar__first-container .navbar__brand {
  cursor: pointer;
  @apply dark:text-bg-light;
}

@media (max-width: 500px) {
  .navbar .navbar-containers .navbar__first-container .navbar__brand {
    font-size: 0.9rem;
  }
}

.navbar .navbar-containers .navbar__second-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .navbar .navbar-containers .navbar__second-container {
    margin: 0;
    padding: 0;
  }
}

.navbar .navbar-containers .navbar__second-container .navbar__darkmode {
  font-weight: 800;
  @apply dark:text-bg-light;
}

@media (max-width: 500px) {
  .navbar .navbar-containers .navbar__second-container .navbar__darkmode {
    font-size: 0.8rem;
  }
}

.not-found {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
  min-height: 92vh;
}

.details .details__container {
  margin-top: 2rem;
  width: 90%;
  height: 75vh;
  border: 1px solid red;
}

.details .details__container .details__back-button {
  @apply shadow-md text-bg-dark dark:bg-el-dark dark:text-bg-light dark:border-none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.search-bar {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 3rem;
  background-color: transparent !important;
}

.search-bar__first-container {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .search-bar__first-container {
    width: 100%;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
}

.search-bar__first-container .search-bar__form {
  margin-left: -12px;
  padding: 0;
  width: 25rem;
  height: 3rem;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light bg-white dark:bg-el-dark dark:border-none;
}

@media (max-width: 500px) {
  .search-bar__first-container .search-bar__form {
    width: 18rem;
  }
}

.search-bar__first-container .search-bar__form .search-bar__icon {
  background-color: white;
  border-right: none;
  font-size: 1.3rem;
  padding-right: 0;
  @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
}

.search-bar__first-container .search-bar__form .search-bar__input {
  border-left: none;
  font-size: 14px;
  font-weight: 800;
  height: 3rem;
  @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
}

.search-bar__second-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

@media (max-width: 500px) {
  .search-bar__second-container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 1rem;
  }
}

.search-bar__second-container .search-bar__filter {
  margin-right: -12px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark;
}

@media (max-width: 500px) {
  .search-bar__second-container .search-bar__filter {
    margin-right: 0px;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.country-card {
  width: 18rem;
  margin-bottom: 4rem;
  cursor: pointer;
  @apply bg-bg-light dark:bg-el-dark dark:text-bg-light;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply dark:bg-bg-dark dark:text-bg-light;
}
/*# sourceMappingURL=style.css.map */