/* :root {
  $elements: white;
  $background: hsl(0, 0%, 98%);
  $input: hsl(0, 0%, 52%);
  $text: hsl(200, 15%, 8%);
}

[data-theme='dark'] {
  $elements: hsl(209, 23%, 22%);
  $background: hsl(207, 26%, 17%);
  $input: hsl(0, 0%, 52%);
  $text: white;
} */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap");
body {
  font-family: 'Nunito';
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.home {
  @apply bg-white dark:bg-bg-dark;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.home .home__container {
  height: auto;
  width: 90%;
}

.home .home__cards {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  background-color: white;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light;
  padding: 1rem;
}

.navbar__first-container {
  width: 30%;
  margin-left: 5rem;
  font-weight: 800;
}

@media (max-width: 800px) {
  .navbar__first-container {
    width: 100%;
  }
}

.navbar__first-container .navbar__brand {
  cursor: pointer;
  @apply dark:text-bg-light;
}

.navbar__second-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  margin-right: 5rem;
}

@media (max-width: 800px) {
  .navbar__second-container {
    display: none !important;
  }
}

.navbar__second-container .navbar__darkmode {
  font-weight: 800;
  @apply dark:text-bg-light;
}

.not-found {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.search-bar {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  margin-top: 3rem;
  background-color: transparent !important;
}

.search-bar__first-container {
  width: 30%;
}

.search-bar__first-container .search-bar__form {
  margin-left: -12px;
  padding: 0;
  width: 25rem;
  height: 3rem;
  @apply shadow-sm dark:shadow-md dark:bg-el-dark dark:text-bg-light bg-white dark:bg-el-dark dark:border-none;
}

.search-bar__first-container .search-bar__form .search-bar__icon {
  background-color: white;
  border-right: none;
  font-size: 1.3rem;
  padding-right: 0;
  @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
}

.search-bar__first-container .search-bar__form .search-bar__input {
  border-left: none;
  font-size: 14px;
  font-weight: 800;
  height: 3rem;
  @apply bg-white dark:bg-el-dark dark:border-none dark:text-white;
}

.search-bar__second-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.search-bar__second-container .search-bar__filter {
  margin-right: -12px;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  @apply shadow-sm dark:shadow-md dark:text-white dark:bg-el-dark;
}

.search-bar__second-container .search-bar__filter .search-bar__item {
  @apply dark:bg-el-dark;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
.country-card {
  width: 18rem;
  margin-bottom: 4rem;
  cursor: pointer;
  @apply bg-bg-light dark:bg-el-dark dark:text-bg-light;
}
/*# sourceMappingURL=style.css.map */