@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;800&display=swap");
body {
  font-family: 'Nunito';
}

.home {
  background-color: #fafafa;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.home .home__container {
  height: auto;
  width: 90%;
}

.home .home__cards {
  margin-top: 2rem;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  margin-top: 1rem;
  -webkit-box-shadow: 0px 9px 5px -7px #c5c5c5;
  box-shadow: 0px 9px 5px -7px #c5c5c5;
}

.navbar__first-container {
  width: 30%;
  margin-left: 5rem;
  font-weight: 800;
}

@media (max-width: 800px) {
  .navbar__first-container {
    width: 100%;
  }
}

.navbar__second-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
  margin-right: 5rem;
}

@media (max-width: 800px) {
  .navbar__second-container {
    display: none !important;
  }
}

.navbar__second-container .navbar__dark {
  font-weight: 800;
}

.not-found {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-bar {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-top: 3rem;
  background-color: #fafafa !important;
}

.search-bar__first-container {
  width: 30%;
}

.search-bar__first-container .search-bar__form {
  margin-left: -12px;
  padding: 0;
  width: 25rem;
  height: 3rem;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.15);
  box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.15);
}

.search-bar__first-container .search-bar__form .search-bar__icon {
  background-color: white;
  border-right: none;
  font-size: 1.3rem;
  padding-right: 0;
}

.search-bar__first-container .search-bar__form .search-bar__input {
  border-left: none;
  font-size: 14px;
  font-weight: 800;
  height: 3rem;
}

.search-bar__second-container {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.search-bar__second-container .search-bar__filter {
  margin-right: -12px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.35);
  box-shadow: 0px 0px 5px 1px rgba(184, 184, 184, 0.35);
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.country-card {
  width: 18rem;
  margin-bottom: 4rem;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */